.experience{
    background-image: url("../img/water_and_fire_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}


h2, p, li{
    color: #fff;
}